@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ArticlesOverview>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master.cshtml";
}

<h1>@Umbraco.Field("siteTitle")</h1>

<div class="col-lg-12">
@Umbraco.Field("mainContent")
</div>


<div class="col-lg-6">
@Umbraco.RenderMacro("listArticles")
</div>